.headerlink {
    display: none;
}

.navbar {
    border: 0;
    background-color: #dddee0;
    font-family: Lato, sans-serif;
    font-weight: 300;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 60px;
}

.navbar .navbar-brand {
    text-transform: uppercase;
    font-size: 37px;
    color: #000;
}

.navbar .navbar-nav li a {
    font-size: 26px;
    color: #000;
}

h1 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.4;
}

.main-callout {
    padding-bottom: 1px;
    background-color: #dddee0;
}

.main-callout .sign-up {
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #51a7fa;
    display: inline-block;
    padding: 8px 16px;
    font-size: 28px;
    margin: 50px 0;
    border-radius: 5px;
}

.main-callout .self-host {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.main-callout img {
    margin-top: 30px;
}
